*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: white;
}

.page-header {
    margin: 0;
    padding: 0;
}

.page-header .about{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-top: -80px;
    margin-left: 1440px;
    font-size: 18px;
}

.page-title{
   text-align: center;
   font-size: 50px;
   color: black;
}