*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
}

nav{
    position: relative;
    display: flex;
    padding: 10px;
    background-color: white;
}

.headphones{
    margin-top: -20px;
    margin-left: -10px;
}

.mini-title{
    margin-top: 40px;
    margin-left: -127px;
}

.about{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 1380px;
}

.main-section{
    text-align: center;
}

main a{
    text-decoration: none;
    color: darkgoldenrod;
}

footer{
    margin: 0;
    padding: 140px;
    background-color: rgb(32, 35, 41);
}

.Logo{
    margin-left: 605px;
}

.O1-text{
    color: white;
    margin-left: -100px;
}

.git-link{
    margin-top: 20px;
}