*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  nav{
    position: relative;
    display: flex;
    padding: 10px;
    background-color: white;
  }
  
  .headphones{
    margin-top: -20px;
    margin-left: -10px;
  }
  
  .mini-title{
    margin-top: 20px;
    margin-right: 10px;
  }
  
  .about{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 1380px;
  }
  
  .artist_wrapper{
    padding: 100px;
    text-align: center;
  }
  
  .page-title{
    margin-top: -100px;
  }
  
  .title{
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    color: black;
  }
  
  .instrument{
    display: flex;
    align-content: center;
    margin-left: 950px;
  }
  
  .rev{
    display: flex;
    align-content: center;
    margin-top: -360px;
    margin-right: 950px;
    transform: scaleX(-1);
  }
  
  
  .cards {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center; 
  }
  
  .card {
    flex: 0 1 calc(25% - 1em);
    align-items: center;
    /* border: 2px solid rgb(204, 204, 40); */
    justify-content: space-between;
  }
  
  @media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  
    .card {
        flex: 0 1 calc(25% - 1em);
    }
  }
  
  @media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  
    .card {
        flex: 0 1 calc(50% - 1em);
    }
  }
  
  @media screen and (min-width: 60em) {
    .card {
        flex: 0 1 calc(25% - 1em);
    }
  }

  .footer{
    padding: 150px;
    background-color: rgb(32, 35, 41);
    min-height: calc(120px);
    width: 100%;
    text-align: center;
  }

  .Logo{
    margin-top: -100px;
}

  .git{
    margin-top: 30px;
  }