<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Assets/CSS/about.css">
    <title>Document</title>
</head>
<body>
    <header class="page-header">
        <nav class="nav">
            <a href="/"><img src="/Assets/Images/Headphones Icon.jpg" class="headphones" alt="headphone icon" height="70px" width="70px"></a>
            <a href="/about" class="about"><h3>About</h3></a>
        </nav>
    </header>
    <main class="main-section">
        <p>
            <div class="groupie-title">
                <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Groupie Tracker Project</h1>
            </div>
            <br>
            <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">About</h1>
            Groupie Tracker is a project that consisted of building a responsive website using a API made in JSON.
            <br>
            The website uses a RESTful API to showcase different artists with basic about them and show their upcoming tour dates.
            <br>
            SO BOOK THOSE TICKETS QUICK. THEY SELL OUT FAST!
            <br><br>
            <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Why make this?</h1>
            We made this for a coding-course called the 01-Founders.
            <br><br>
            <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Who are the 01-Founders?</h1>
            The 01-Founders is a coding school built on the self teaching model. As a student at the programme you will learn all about programming and software development. 
            <br>
            As a student at the coding school you will study a range of programming-concepts from back-end web development to AI and machine learning.
            <br><br>
            <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Github</h1>
            The project will be hosted on my <span><a href="https://github.com/IbsYoussef">Github</a></span>.
        </p>
    </main>
    <br><br><br><br><br><br>
    <footer>
        <div class="Logo">
            <img src="/Assets/Images/01_Founders_logo.jpeg" alt="O1-Founders" width="45px" height="45px">
            <div class="O1-text">
                <p><h3>Powered by the 01 Founders</h3></p>
            </div>
            <div class="git-link">
                <a href="https://github.com/IbsYoussef"><img src="/Assets/Images/github.png" alt="git" width="45px" height="45px"></a>
            </div>
        </div>
    </footer>
    
</body>
</html>